/* menu index */
.menu__index {
  width: 100%;
  border-width: 10px;
  border-style: double;
  border-color: black;
  background-color: #A6A6A6;
  font-family: sneakers-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  position: fixed;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 2s; }

.menu__index:hover {
  border-color: #595959;
  background-color: #262626; }

/* menu no index */
.menu__no__index {
  width: 100%;
  border-width: 10px;
  border-style: double;
  border-color: black;
  background-color: #A6A6A6;
  font-family: sneakers-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  position: sticky;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 2s; }

.menu__no__index:hover {
  border-color: #595959;
  background-color: #262626; }

#main {
  height: auto; }

/* Css index */
.img__index {
  margin-top: 94px;
  width: 100%;
  height: 95vh; }

.main__index {
  background-color: #262626; }

/* Css no index */
.bg__main {
  background-image: radial-gradient(circle, #bfbfbf 20%, #a6a6a6 60%, #595959 100%); }

.img__barberos {
  height: 350px;
  width: 350px;
  border-width: 2px;
  border-style: solid;
  border-color: #0D0D0D;
  transition: all 2s;
  transform: skew(0deg, 0deg); }

.img__barberos:hover {
  transform: skew(2deg, 2deg); }

.centrar__carusel {
  display: grid;
  align-content: center;
  justify-content: center; }

/* Css Galeria */
.img__galeria, .img__eventos {
  height: 350px;
  width: 350px;
  border-width: 2px;
  border-style: solid;
  border-color: #0D0D0D; }

/* Css Eventos */
.img__eventos {
  width: 500px;
  height: 400px; }

.vid__eventos {
  width: 560px;
  height: 315px; }

/* Css Contacto */
.size__maps {
  height: 300px;
  width: 300px; }

.mapa__posicion {
  height: 400px;
  width: 400px; }

.centrar__lista {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5vh; }

#footer {
  height: 15vh;
  border-width: 10px;
  border-style: double;
  border-color: #595959;
  background-image: linear-gradient(180deg, #bfbfbf 0%, #a6a6a6 50%, #595959 100%); }

.iconos__footer {
  height: 60px;
  width: 60px; }

/* media queries Index */
@media only screen and (max-width: 500px) {
  .img__index {
    height: 45vh; }
  #footer {
    height: 140px; } }

/* media queries Equipo */
@media only screen and (max-width: 500px) {
  .img__barberos {
    width: 350px;
    height: 350px; }
  #footer {
    height: 140px;
    border-width: 10px; } }

/* media queries Galeria*/
@media only screen and (max-width: 500px) {
  .img__galeria, .img__eventos {
    height: 300px;
    width: 300px; } }

/* media queries Eventos*/
@media only screen and (max-width: 500px) {
  .img__eventos {
    width: 350px;
    height: 350px; }
  .vid__eventos {
    width: 350px;
    height: 350px; } }

/* media queries Contacto*/
@media only screen and (max-width: 500px) {
  .size__maps {
    height: 250px;
    width: 250px; }
  .mapa__posicion {
    height: 300px;
    width: 300px; } }
