       /* media queries Index */
       @media only screen and (max-width: 500px){
        .img__index{
            height: 600px;
        }
        #footer {
            height: 440px;        
        }
        
    
    }
    @media only screen and (max-width: 425px) 
    {
    }
    
    /* media queries Equipo */
    @media only screen and (max-width: 500px){
        .img__barberos {
            width: 350px;
            height: 350px;
        }
        #footer {
            height: 140px;
            border-width: 10px;
        }
    }
    @media only screen and (max-width: 1024px) 
    {
    
    }
    /* media queries Galeria*/
    @media only screen and (max-width: 500px){
        .img__galeria {
            height: 300px;
            width: 300px;
        }
    }

    @media only screen and (max-width: 1024px) 
    {
    
    }

    /* media queries Eventos*/
    @media only screen and (max-width: 500px){
        .img__eventos {
            width: 350px;
            height: 350px;
        }
        .vid__eventos{
            width: 350px;
            height: 350px;
        }
    }

    @media only screen and (max-width: 1024px) 
    {
    
    }

     /* media queries Contacto*/
    @media only screen and (max-width: 500px){
        .size__maps {
            height: 300px;
            width: 300px;
        }
        
        .mapa__posicion {
            height: 300px;
            width: 300px;
            }
    }

    @media only screen and (max-width: 1024px) 
    {
    
    }