$bg-color: (
    lineal: linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(166,166,166,1) 50%, rgba(89,89,89,1) 100%),
    radial: radial-gradient(circle, #bfbfbf 20%, #a6a6a6 60%, #595959 100%),
);

@mixin size-img {
    height: 350px ;
    width: 350px ;
    border-width: 2px;
    border-style: solid;
    border-color: #0D0D0D;
}

@mixin iconos {
    height:60px;
    width: 60px;
}
